#paragraphe{
    color: blue;
}

.calculatrice{
    background-color: #D3D3D3;
    padding: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #A9A9A9;
    border-radius: 5px;
    height: 5   00px;
    /* max-height: 700px; */
    width: 300px;
    
}

.button_9, .button_8, .button_7, .button_6, .button_5, .button_4, .button_3, .button_2, .button_1, .button_0{
    /* width: 100px; */
    font-size: 100px;
}

.button_0{
    margin-left: 34%;
}
