body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: white;
    max-height: auto;
    width: 50%;
    margin-left: 25%;
    padding: 8px;
    border-style: solid;
    border-color: #234C7D;
    border-width: 4px;
}

.titre{
    border-style: solid;
	border-width: 1px;
	margin-left: 240px;
	margin-right: 240px;
	text-align: center;
}

.identité{
    border-style: solid;
	border-width: 2px;
    margin-left: 3px;
    margin-right: 0px;
    padding: 8px;
    width: 335px;
	text-align: left;
}

.photo{
    position: absolute;
    top : 72px;
    right: 600px;
    max-width: auto;
    height: 218px;
}

.college{
    background-color: #DCE6F2;
    border-style: solid;
    border-color: #234C7D;
    border-width: 2px;
    border-radius: 50px;
    padding: 20px;
    height: 200px;
}

.titre_college{
    color: blue;
    background-color: #DBE5F1;
    font-size: 25px;
}

.photo_college{
    position: absolute;
    left: 48%;
    max-width: auto;
}


.lien_college{
    position: absolute;
    top: 590px;
    left: 48.7%;
}

.lycée{
    background-color: #D7E4BD;
    border-style: solid;
    border-color: #234C7D;
    border-width: 2px;
    border-radius: 50px;
    padding: 20px;
    height: 200px;;
    border-style: solid;
    border-color: #234C7D;
    border-width: 2px;
    border-radius: 50px;
    padding: 20px;
    height: 200px;
}

.titre_lycée{
    color: #44750B;
    background-color: #D7E4BD;
    font-size: 25px;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    font-size: xx-large;
    max-height: auto;
    width: 400px;
    text-align: center;
}

.photo_lycée{
    position: absolute;
    left: 50%;
    max-width: auto;
}

.lien_lycée{
    position: absolute;
    top: 900px;
    left: 48.7%;
}

.fin{
    font-size: x-large;
}
